@font-face {
    font-family: 'Ash';
    src: url(./assets/font/DCC\ -\ Ash.otf) format('opentype');
}

@font-face {
    font-family: "adrip";
    src: url(./assets/font/adrip1.ttf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#myCanvas {
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
    display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    color: white;
    background-color: #000000;
}

.text-center {
    text-align: center;
}

.main-div {
    position: absolute;
    font-family: 'adrip';
    font-weight: 900;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    color: white;
    letter-spacing: 0.5px;
    display: none;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.username-input {
    padding: 12px;
    font-family: 'adrip';
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #cbd5e1;
    background: #000;
    color: #cbd5e1;
    font-weight: 900;
    font-size: 2rem;

}

.form-button {
    font-family: 'adrip';
    font-size: 4rem;
    margin-top: 20px;
    padding: 8px 24px;
    padding-bottom: 0;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right,
            rgb(92, 136, 81),
            rgb(33, 58, 2));
    color: white;
    cursor: pointer;
    font-weight: 900;
}