* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#myCanvas {
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

body {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        margin: 0;
        color: white;
    }

}

.main-div {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    color: white;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.username-input {
    padding: 12px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #cbd5e1;
    background: #000;
    color: #cbd5e1;
}

.form-button {
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right,
            rgb(4, 35, 41),
            rgb(125, 153, 199));
    color: white;
    cursor: pointer;
}